$font-path: "../../assets/fonts/";

$fonts-folder__primary: "secondary/";
$fonts-folder__secondary: "secondary/";
$fonts-folder__tertiary: "null";

$font-primary__family-name: "Montserrat";
$font-secondary__family-name: "Montserrat";
$font-tertiary__family-name: "null";
