.Message {
	display: flex;
	align-items: flex-end;
	padding-top: 8px;
	gap: 8px;
}

.bubble {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 12px;
	background-color: var(--color--e1-1);
	border-radius: 16px 16px 16px 0;

	&:before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: -8px;
		display: flex;
		align-items: flex-end;
		content: "";
		background-color: var(--color--e1-1);
		mask-image: url("./assets/svg/message-bubble-tail.svg");
		mask-position: left bottom;
		mask-repeat: no-repeat;
		user-select: none;
		pointer-events: none;
	}
}

.Message.user {
	justify-content: end;
	.bubble {
		border-radius: 16px 16px 0px 16px;
		order: -1;
		&:before {
			right: -8px;
			left: 0;
			transform: scaleX(-1);
		}
	}
}

.time {
	align-self: end;
}
