@use "~/ameliance-ui/styles/globals/" as *;

.Toolbar {
	position: sticky;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	gap: 16px;
	background-color: var(--color--b1-1);
	border-radius: 16px 16px 0 0;
}

.button {
	padding: 8px 0;
}
