@use "~/asmlib/styles/globals/" as *;

.SongsList .container {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	max-width: 480px;
	width: 100%;
	scroll-padding-top: 0px;
}

.songsList {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gap) / 2);
}

.listNavigation {
	display: flex;
	gap: 8px 16px;
	flex-wrap: wrap;
	justify-content: center;
	user-select: none;
}

.songsGroup {
	display: flex;
	flex-direction: column;

	.songsGroupSymbol {
		position: sticky;
		top: 0;
		background-color: var(--color--b1-0);
		padding: calc(var(--gap) / 2) 0;
		z-index: 1;
		user-select: none;
	}
}

.songs {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gap) / 4);
	contain: layout;
	.songItem {
		display: flex;
		justify-content: space-between;
		gap: 16px;
	}
	.copyIcon {
		width: 28px;
		height: 28px;
		opacity: 50%;
		cursor: pointer;
	}
}
