.songs-list-page {
	.container {
		display: flex;
		gap: var(--gap);
		max-width: 360px;
	}
	.songs-list {
		display: flex;
		flex-direction: column;
		gap: calc(var(--gap) / 2);
	}
	.songs-group {
		display: flex;
		flex-direction: column;
		&__title {
			position: sticky;
			top: 0;
			background-color: var(--color--bg-0);
			padding: calc(var(--gap) / 2) 0;
		}
	}
	.songs {
		display: flex;
		flex-direction: column;
		gap: calc(var(--gap) / 4);
	}
}
