@use "../../styles/globals/" as *;

.StickyButton {
	--sticky-button-padding: 24px;
	--sticky-button-offset-init: calc(var(--sticky-button-padding) * -1);
	--sticky-button-offset: var(--sticky-button-offset-init);
	position: fixed;
	right: var(--sticky-button-padding);
	bottom: 0;
	z-index: 10;
	border-radius: 50%;
	@extend %box-shadow--default;
	transform: translateY(var(--sticky-button-offset));
}

.children {
	border-radius: 50%;
}

.StickyButton {
	&.hide.slideIn {
		animation: slide-in-hide-animation ease-in-out 0.4s forwards;
	}
	&.show.slideIn {
		animation: slide-in-show-animation ease-in-out 0.4s forwards;
	}
}

@keyframes slide-in-hide-animation {
	0% {
		transform: translateY(var(--sticky-button-offset));
	}
	100% {
		transform: translateY(100%);
	}
}

@keyframes slide-in-show-animation {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(var(--sticky-button-offset));
	}
}

.StickyButton {
	&.show.popup .children {
		animation: popup-show-animation ease-in-out 0.2s forwards;
	}

	&.hide.popup .children {
		animation: popup-hide-animation ease-in-out 0.2s forwards;
	}
}

@keyframes popup-show-animation {
	0% {
		transform: scale(0%);
	}
	2% {
		transform: scale(0%);
	}
	100% {
		transform: scale(100%);
	}
}

@keyframes popup-hide-animation {
	0% {
		transform: scale(100%);
	}
	98% {
		transform: scale(0%);
	}
	100% {
		transform: scale(0%);
	}
}

.StickyButton {
	&.show.popup {
		animation: display-none-show-animation ease-in-out 0s forwards;
	}

	&.hide.popup {
		animation: display-none-hide-animation ease-in-out 0s forwards 0.2s;
	}
}

@keyframes display-none-show-animation {
	0% {
		transform: translateY(calc(var(--sticky-button-offset) * 2));
		opacity: 0;
	}
	1% {
		transform: translateY(var(--sticky-button-offset));
		opacity: 0;
	}
	2% {
		opacity: 0;
	}
}

@keyframes display-none-hide-animation {
	98% {
		opacity: 0;
	}
	99% {
		transform: translateY(var(--sticky-button-offset));
		opacity: 0;
	}
	100% {
		transform: translateY(calc(var(--sticky-button-offset) * 2));
		opacity: 0;
	}
}
