@use "../../styles/globals/" as *;

.StickyButton {
	--sticky-button-offset: var(--gap);
	z-index: 10;
	position: fixed;
	right: var(--gap);
	bottom: var(--sticky-button-offset);
	background-color: var(--color--b1-2);
	border-radius: 50%;
	@extend %box-shadow--default;
	&.hide {
		&.slideIn {
			animation: slide-in-hide-animation ease-in-out 0.4s forwards;
		}
		&.popup {
			animation: popup-hide-animation ease-in-out 0.2s forwards;
		}
	}
	&.show {
		&.slideIn {
			animation: slide-in-show-animation ease-in-out 0.4s forwards;
		}
		&.popup {
			animation: popup-show-animation ease-in-out 0.2s forwards;
		}
	}
}

@keyframes slide-in-hide-animation {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(calc(var(--sticky-button-offset) * 2));
	}
}

@keyframes slide-in-show-animation {
	0% {
		transform: translateY(calc(var(--sticky-button-offset) * 2));
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes popup-hide-animation {
	0% {
		transform: scale(100%);
	}
	100% {
		transform: scale(0%);
	}
}

@keyframes popup-show-animation {
	0% {
		transform: scale(0%);
	}
	100% {
		transform: scale(100%);
	}
}
