@use "~/ameliance-ui/styles/globals/" as *;

.SongListItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2px;
	min-height: 32px;
	@include no-select;
}

.textBlock {
	display: flex;
	flex-grow: 1;
	min-height: 32px;
	align-items: center;

	&.selection {
		display: flex;
		gap: 8px;

		@include clickable;
	}

	.songName {
		display: flex;
		flex-grow: 1;
		align-items: center;
		min-height: 32px;
	}
}

.checkIcon {
	opacity: 50%;
	animation: check-icon-show-animation 0.2s ease-out forwards;
	&.active {
		background-color: var(--color--e2-2);
		border-radius: 1000px;
		animation: check-icon-checked-animation 0.2s ease-out forwards;
	}
}

.playIcon {
	position: relative;
	left: 1px;
}

.playing {
	animation: play-animation 0.8s alternate linear infinite;
}

@keyframes check-icon-show-animation {
	0% {
		transform: scale(0%);
	}
	100% {
		transform: scale(100%);
	}
}

@keyframes check-icon-checked-animation {
	50% {
		transform: scale(120%);
	}
	100% {
		opacity: 100%;
		transform: scale(100%);
	}
}

// .selection .songName {
// 	animation: text-move-right-animation 0.2s ease-out forwards;
// }

@keyframes text-move-right-animation {
	0% {
		transform: translateX(-28px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes play-animation {
	0% {
		background-color: var(--color--b1-1);
	}
	100% {
		background-color: var(--color--b1-2);
	}
}
