@use "~/ameliance-ui/styles/globals/" as *;

.SongListItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2px;
	min-height: 32px;
	@include no-select;
}

.textBlock {
	display: flex;
	flex-grow: 1;
	min-height: 32px;
	align-items: center;

	&.selection {
		display: flex;
		gap: 4px;
		border-radius: 12px;

		@include clickable;

		.songName {
			animation: text-show-animation 0.2s ease-out forwards;
		}
	}

	.songName {
		display: flex;
		flex-grow: 1;
		align-items: center;
		min-height: 32px;
	}
}

.checkIcon {
	// height: 32px;
	// width: 32px;
	// opacity: 20%;
	// transition: opacity 0.2s ease-out;
	animation: check-icon-show-animation 0.2s ease-out forwards;
	&.active {
		background-color: var(--color--e2-2);
		border-radius: 1000px;
		animation: check-icon-checked-animation 0.2s ease-out forwards;
		// opacity: 100%;
	}
}

.playIcon {
	position: relative;
	left: 1px;
}

.playing {
	animation: play-animation 0.8s alternate linear infinite;
}

@keyframes check-icon-show-animation {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 50%;
	}
}

@keyframes check-icon-checked-animation {
	100% {
		opacity: 100%;
	}
}

@keyframes text-show-animation {
	0% {
		transform: translateX(-28px);
	}
	100% {
		transform: translateX(0px);
	}
}

@keyframes play-animation {
	0% {
		background-color: var(--color--b1-1);
	}
	100% {
		background-color: var(--color--b1-2);
	}
}
