.StartScreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	width: 100vw;
	height: 100vh;
	color: var(--color--f1-1);
}

.logo {
	animation: logo-animation 1s ease-in alternate infinite;
}

@keyframes logo-animation {
	0% {
		transform: scale(85%);
		opacity: 90%;
	}
	100% {
		transform: scale(100%);
		opacity: 100%;
	}
}
