@use "~/asmlib/styles/globals/" as *;

.Backdrop {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	opacity: 60%;

	cursor: pointer;
	background-color: var(--color--b1-0);

	animation-name: hide-blackout;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

:global(.show) .Backdrop {
	animation-name: show-blackout;
	animation-duration: 0;
	animation-fill-mode: forwards;
	@include disabled;
}

@keyframes show-blackout {
	from {
		opacity: 0%;
	}
	to {
		opacity: 60%;
	}
}
@keyframes hide-blackout {
	from {
		opacity: 60%;
	}
	to {
		opacity: 0%;
	}
}
