.backdrop {
   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;

   cursor: pointer;

   animation-name: hide-blackout;
   animation-duration: 0.3s;
   animation-fill-mode: forwards;
}

.show .backdrop {
   animation-name: show-blackout;
   animation-duration: 0;
   animation-fill-mode: forwards;
}

@keyframes show-blackout {
   from {
      background: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0);
      -webkit-backdrop-filter: blur(0);
   }
   to {
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
   }
}
@keyframes hide-blackout {
   from {
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
   }
   to {
      background: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0);
      -webkit-backdrop-filter: blur(0);
   }
}
