@use "~/asmlib/styles/globals/" as *;

.MenuItem {
	cursor: pointer;
	padding: 4px 16px;
	& > * {
		display: flex;
		align-items: center;
	}

	@include hover {
		background-color: var(--color--b1-1);
	}

	@include disabled {
		opacity: 60%;
		cursor: not-allowed;
		pointer-events: none;
	}
}
