// >----------------------------------------------------------------<
// >                             IMPORT                             <
// >----------------------------------------------------------------<

@use "../globals/" as *;
@use "grid__variables" as *;

// >----------------------------------------------------------------<
// >                              GRID                              <
// >----------------------------------------------------------------<
.container {
	width: 100%;
	max-width: var(--container-width);
	display: flex;
	max-height: 100%;
	margin: 0 auto;
	padding: 0 var(--col-outer);
	// @include $screen-xl {
	// 	width: 100%;
	// }
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--gap);
	justify-content: center;
	box-sizing: border-box;

	$setCol-elements: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

	@each $item in $setCol-elements {
		.#{col- + $item} {
			width: calc((100% - (11 * var(--gap))) / 12 * $item + (($item - 1) * var(--gap)));
		}
	}

	@each $item in $setCol-elements {
		@include screen-xx {
			.#{col-xx- + $item} {
				width: calc((100% - (11 * var(--gap))) / 12 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	@each $item in $setCol-elements {
		@include screen-xl {
			.#{col-xl- + $item} {
				width: calc((100% - (11 * var(--gap))) / 12 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	@each $item in $setCol-elements {
		@include screen-lg {
			.#{col-lg- + $item} {
				width: calc((100% - (11 * var(--gap))) / 12 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	@each $item in $setCol-elements {
		@include screen-md {
			.#{col-md- + $item} {
				width: calc((100% - (11 * var(--gap))) / 12 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	@each $item in $setCol-elements {
		@include screen-sm {
			.#{col-sm- + $item} {
				width: calc((100% - (11 * var(--gap))) / 12 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	@each $item in $setCol-elements {
		@include screen-xs {
			.#{col-xs- + $item} {
				width: calc((100% - (11 * var(--gap))) / 12 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	$setCol10-elements: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);

	@each $item in $setCol10-elements {
		.#{col10- + $item} {
			width: calc((100% - (9 * var(--gap))) / 10 * $item + (($item - 1) * var(--gap)));
		}
	}

	@each $item in $setCol10-elements {
		@include screen-xx {
			.#{col10-xx- + $item} {
				width: calc((100% - (9 * var(--gap))) / 10 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	@each $item in $setCol10-elements {
		@include screen-xl {
			.#{col10-xl- + $item} {
				width: calc((100% - (9 * var(--gap))) / 10 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	@each $item in $setCol10-elements {
		@include screen-lg {
			.#{col10-lg- + $item} {
				width: calc((100% - (9 * var(--gap))) / 10 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	@each $item in $setCol10-elements {
		@include screen-md {
			.#{col10-md- + $item} {
				width: calc((100% - (9 * var(--gap))) / 10 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	@each $item in $setCol10-elements {
		@include screen-sm {
			.#{col10-sm- + $item} {
				width: calc((100% - (9 * var(--gap))) / 10 * $item + (($item - 1) * var(--gap)));
			}
		}
	}

	@each $item in $setCol10-elements {
		@include screen-xs {
			.#{col10-xs- + $item} {
				width: calc((100% - (9 * var(--gap))) / 10 * $item + (($item - 1) * var(--gap)));
			}
		}
	}
}
