@use "../globals/" as *;

:root {
	--gap: var(--screen--gap);
	--col-gap: var(--screen--col-gap);
	--col-outer: var(--screen--col-outer);

	--container-width: calc(var(--screen--container__width) + (var(--col-outer) * 2));

	@media (max-width: $screen-xx) {
		--gap: var(--screen--gap__xx);
		--col-gap: var(--screen--col-gap__xx);
		--col-outer: var(--screen--col-outer__xx);
	}
	@media (max-width: $screen-xl) {
		--gap: var(--screen--gap__xl);
		--col-gap: var(--screen--col-gap__xl);
		--col-outer: var(--screen--col-outer__xl);
	}
	@media (max-width: $screen-lg) {
		--gap: var(--screen--gap__lg);
		--col-gap: var(--screen--col-gap__lg);
		--col-outer: var(--screen--col-outer__lg);
	}
	@media (max-width: $screen-md) {
		--gap: var(--screen--gap__md);
		--col-gap: var(--screen--col-gap__md);
		--col-outer: var(--screen--col-outer__md);
	}
	@media (max-width: $screen-sm) {
		--gap: var(--screen--gap__sm);
		--col-gap: var(--screen--col-gap__sm);
		--col-outer: var(--screen--col-outer__sm);
	}
	@media (max-width: $screen-xs) {
		--gap: var(--screen--gap__xs);
		--col-gap: var(--screen--col-gap__xs);
		--col-outer: var(--screen--col-outer__xs);
	}
}
