@use "../globals/" as *;
@use "button__variables" as *;

.button-icon,
.button-icon-sm {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	color: var(--color__button);
	background: var(--background__button);
	border: none;
	border-radius: 1000px;
	cursor: pointer;
	user-select: none;

	& .label {
		text-align: center;
		vertical-align: middle;
		height: 24px;
	}

	& .icon.center,
	& .icon-sm.center {
		background-color: var(--color__button);
	}

	@include animation-hover;
	@include hover {
		color: var(--color__button_hover);
		background: var(--background__button_hover);
	}
	@include active {
		color: var(--color__button_active);
		background: var(--background__button_active);
		transition: 0s;
	}

	@include disabled {
		color: var(--color__button_disabled);
		background: var(--background__button_disabled);
		opacity: 40%;
		cursor: not-allowed;
		pointer-events: none;
	}
}

.button-icon.secondary,
.button-icon-sm.secondary {
	color: var(--color__button-secondary);
	background: none;
	border: 2px solid var(--border__button-secondary);

	& .icon.center,
	& .icon-sm.center {
		background-color: var(--color__button-secondary);
	}

	@include hover {
		color: var(--color__button-secondary_hover);
		border: 2px solid var(--border__button-secondary_hover);

		& .icon.center,
		& .icon-sm.center {
			background-color: var(--border__button-secondary_hover);
		}
	}
	@include active {
		color: var(--color__button-secondary_active);
		border: 2px solid var(--border__button-secondary_active);

		& .icon.center,
		& .icon-sm.center {
			background-color: var(--border__button-secondary_active);
		}
	}
}
