:root {
	--color__h1: var(--color--f1-1);
	--color__h2: var(--color--f1-1);
	--color__h3: var(--color--f1-1);
	--color__h4: var(--color--f1-1);
	--color__h5: var(--color--f1-1);
	--color__h6: var(--color--f1-1);
	--color__s1: var(--color--f1-1);
	--color__s2: var(--color--f1-1);
	--color__p1: var(--color--f1-1);
	--color__p2: var(--color--f1-1);
	--color__p3: var(--color--f1-1);
	--color__cp: var(--color--f1-1);
	--color__ov: var(--color--f1-1);
	--color__sb: var(--color--f1-1);

	--color__h1_inverse: var(--color--f2-1);
	--color__h2_inverse: var(--color--f2-1);
	--color__h3_inverse: var(--color--f2-1);
	--color__h4_inverse: var(--color--f2-1);
	--color__h5_inverse: var(--color--f2-1);
	--color__h6_inverse: var(--color--f2-1);
	--color__s1_inverse: var(--color--f2-1);
	--color__s2_inverse: var(--color--f2-1);
	--color__p1_inverse: var(--color--f2-1);
	--color__p2_inverse: var(--color--f2-1);
	--color__p3_inverse: var(--color--f2-1);
	--color__ct_inverse: var(--color--f2-1);
	--color__ov_inverse: var(--color--f2-1);
	--color__sb_inverse: var(--color--f2-1);
}
