:root {
	--color__h1: var(--color--f1-1);
	--color__h2: var(--color--f1-1);
	--color__h3: var(--color--f1-1);
	--color__h4: var(--color--f1-1);
	--color__h5: var(--color--f1-1);
	--color__h6: var(--color--f1-1);
	--color__subtitle1: var(--color--f1-1);
	--color__subtitle2: var(--color--f1-1);
	--color__p1: var(--color--f1-1);
	--color__p2: var(--color--f1-1);
	--color__caption: var(--color--f1-1);
	--color__overline: var(--color--f1-1);
	--color__button: var(--color--f1-1);
	--color__button-sm: var(--color--f1-1);
	--color__button-icon: var(--color--f1-1);
	--color__button-icon-sm: var(--color--f1-1);
	--color__link: var(--color--f1-1);
	--color__link-sm: var(--color--f1-1);
	--color__input: var(--color--f1-1);

	--color__h1_inverse: var(--color--f-1);
	--color__h2_inverse: var(--color--f-1);
	--color__h3_inverse: var(--color--f-1);
	--color__h4_inverse: var(--color--f-1);
	--color__h5_inverse: var(--color--f-1);
	--color__h6_inverse: var(--color--f-1);
	--color__subtitle1_inverse: var(--color--f-1);
	--color__subtitle2_inverse: var(--color--f-1);
	--color__p1_inverse: var(--color--f-1);
	--color__p2_inverse: var(--color--f-1);
	--color__caption_inverse: var(--color--f-1);
	--color__overline_inverse: var(--color--f-1);
	--color__button_inverse: var(--color--f-1);
	--color__button-sm_inverse: var(--color--f-1);
	--color__button-icon_inverse: var(--color--f-1);
	--color__button-icon-sm_inverse: var(--color--f-1);
	--color__link_inverse: var(--color--f-1);
	--color__link-sm_inverse: var(--color--f-1);
	--color__input_inverse: var(--color--f-1);
}
