.Sidebar {
	display: flex;
	flex-direction: column;
	gap: var(--gap--12);
	width: 40%;
	min-width: 240px;
	padding: 0 var(--gap--16);
	background-color: var(--color--b1-1);
	border-right: 1px solid var(--color--b1-0);
	border-radius: 16px 0 0 16px;
	contain: paint;
}
