@use "~/asmlib/styles/globals/" as *;

.User {
	display: flex;
	align-items: center;
	gap: var(--gap--12);
	padding: var(--gap--8) var(--gap--12);
	border-radius: 8px;
	@include animation-hover;
	@include hover {
		background-color: var(--color--b1-0);
	}
	@include selected {
		background-color: var(--color--e1-1);
	}
	.textContent {
		display: flex;
		flex-direction: column;
		gap: var(--gap--2);
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		.userName {
			text-overflow: ellipsis;
			contain: paint;
		}
		.messagePreview {
			text-overflow: ellipsis;
			contain: paint;
		}
	}
}
