.FileImgUpload {
	width: 300px;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.container {
	height: 24px;
	display: flex;
	align-items: center;
}

.error {
	min-height: 18px;
}

.imgPreview {
	height: 24px;
	object-fit: contain;
}
