.alert {
	background-color: var(--color--a0-1);
	color: var(--color--a0-1);
}
.success {
	background-color: var(--color--a1-0);
	color: var(--color--a1-0);
}
.info {
	background-color: var(--color--a2-0);
	color: var(--color--a2-0);
}
.error {
	background-color: var(--color--a5-0);
	color: var(--color--a5-0);
}
.warn {
	background-color: var(--color--a6-0);
	color: var(--color--a6-0);
}
