@use "./asmlib/styles/globals/" as *;
@use "./asmlib/styles/" as *;
@use "./snow" as *;
// @use "./styles/" as *;

// add icons class with styles to project
$iconsSet: icon--pin, icon--not-pin, icon--arrow-left;
@each $icon in $iconsSet {
	.#{$icon} {
		$path: "./assets/svg/icons/";
		@include useSvgIcon($path, $icon);
	}
}

html {
	scroll-padding-top: 32px;
}

#root {
	gap: var(--gap);
	background: var(--color--bg-0);
	contain: paint;
}
