:root {
	--color--b1-gradient-0: linear-gradient(230deg, #a1b7ff, #9ff1ff);

	--color--0: #ffffff;
	--color--1: #000000;

	--color--a1-0: #7fbc67;
	--color--a1-1: #8fc978;
	--color--a1-2: #a0d58b;

	--color--a2-0: #54a9c0;
	--color--a2-1: #65b6cb;
	--color--a2-2: #79c4d7;

	--color--a3-0: #8b8bc6;
	--color--a3-1: #9c9cd3;
	--color--a3-2: #b4b4da;

	--color--a4-0: #c68bba;
	--color--a4-1: #d39cc8;
	--color--a4-2: #deafd5;

	--color--a5-0: #db7575;
	--color--a5-1: #e58c8c;
	--color--a5-2: #eca1a1;

	--color--a6-0: #dba875;
	--color--a6-1: #e5b98c;
	--color--a6-2: #ecc7a1;

	--color--b1-0: #e3e8ed;
	--color--b1-1: #f5f7f9;
	--color--b1-2: #fdfefe;

	--color--b2-0: #e3e8ed;
	--color--b2-1: #f5f7f9;
	--color--b2-2: #fdfefe;

	--color--e1-0: #c4d9e3;
	--color--e1-1: #d8e7ee;
	--color--e1-2: #cee0e9;

	--color--f1-0: #000000;
	--color--f1-1: #1a1a1a;
	--color--f1-2: #666666;

	--color--f2-0: #e0e0e0;
	--color--f2-1: #f0f0f0;
	--color--f2-2: #ffffff;

	--color--scroll-thumb: rgb(196 217 227);

	// No changing
	--color--0-static: rgb(0 0 0);
	--color--1-static: rgb(255 255 255);

	// ...
}
