:root {
	--color--bg-gradient-0: linear-gradient(to top right, #badaff, #faffc1);

	--color--0: rgb(255 255 255);
	--color--1: rgb(0 0 0);

	--color--a1-0: rgb(127 188 103);
	--color--a1-1: rgb(143 201 120);
	--color--a1-2: rgb(160 213 139);

	--color--a2-0: rgb(84 169 192);
	--color--a2-1: rgb(101 182 203);
	--color--a2-2: rgb(121 196 215);

	--color--a3-0: rgb(139 139 198);
	--color--a3-1: rgb(156 156 211);
	--color--a3-2: rgb(180 180 218);

	--color--a4-0: rgb(198 139 186);
	--color--a4-1: rgb(211 156 200);
	--color--a4-2: rgb(222 175 213);

	--color--a5-0: rgb(219 117 117);
	--color--a5-1: rgb(229 140 140);
	--color--a5-2: rgb(236 161 161);

	--color--el-0: rgb(196 217 227);
	--color--el-1: rgb(216 231 238);
	--color--el-2: rgb(206 224 233);

	--color--f1-0: rgb(84 84 84);
	--color--f1-1: rgb(0 0 0);
	--color--f1-2: rgb(115 115 115);

	--color--f2-0: rgb(224 224 224);
	--color--f2-1: rgb(240 240 240);
	--color--f2-2: rgb(255 255 255);

	--color--bg-0: rgb(227 232 237);
	--color--bg-1: rgb(245 247 249);
	--color--bg-2: rgb(253 254 254);

	--color--scroll-thumb: rgb(196 217 227);

	// No changing
	--color--0-static: rgb(0 0 0);
	--color--1-static: rgb(255 255 255);

	// ...
}
